<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 资产action -->
    <bean id="assetInfoAction" class="com.wonders.api.AssetInfoAction"/>
    
    <!-- 资产履历action -->
	<bean id="assetRecordAction" class="com.wonders.api.AssetRecordAction" scope="prototype">
		<property name="assetService" ref="assetService"></property>
	</bean>
</beans>