<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 资产action -->

	<bean id="reportAction" class="com.wonders.asset.web.report.ReportAction">
        <property name="landAssetService" ref="landAssetService"></property>
            </bean>


</beans>