/* CSS Version Default */
/* Version: 2.0  || Date: 2013-04-17 || Author: Cathy */
/* Cascading Style Sheets Level 2 Revision 1 */
@charset "utf-8";
.body {
	min-width: 990px;
}
.w18p{
	width: 18%;
}
.w81p{
	width: 81.5%;
}

/*header*/
header{
	padding-bottom:1px;
	padding-left:242px;
	padding-top:13px;
	height:101px;
	position: relative;
}
header.mini{
	padding-left:101px;
	padding-top:8px;
	height:25px;
}
header menu .tabs_1{
	height:25px;
	line-height:24px;
	font-size:11px;
}
header.mini menu .tabs_1{
	border:none;
}
header menu .tabs_1 li:hover, header menu .tabs_1 li.selected{
	height:25px;
}
header menu .tabs_1 li{
	padding:0 8px;
	margin:0 1px;
}
header menu li{
	display:inline;
	float:left;
}
header nav{
	height:73px;
}
header nav li.big{
	text-align:center;
}
header nav dt{
	margin:5px 2px;
	/*height:46px;*/
	text-indent:-9999px;
}
header nav dt.big{
	/*width:43px;*/
	height:43px;
	background-repeat:no-repeat;
	padding:2px 4px;
}
header nav dt.big img{
	width:43px;
	height:43px;
	margin: 0 auto;
}
header nav dd{
	height:18px;
	line-height:17px;
	padding:0 5px;
}
/*2013-10-12*/
header.mini nav, header.mini nav ul{
	display: none;
}
header .exchange{
	width: 36px;
	height: 14px;
	background-repeat: no-repeat;
	position: absolute;
	right: 10px;
	top: 24px;
	background-position: left top;
}
header .exchange a{
	display: block;
	width: 36px;
	height: 14px;
	text-indent: -9999px;
}
header.mini .exchange{
	background-position: left -14px;
	top: 20px;
}
header.mini li{
	position: relative;
}
header.mini li ul{
	display: none;
	position: absolute;
	left: -1px;
	top: 26px;
	width: 240%;
	padding: 1px;
}
header.mini li:hover ul, header.mini li ul li{
	display: block;
	float: none;
}
header.mini li ul li, header.mini li:hover ul li{
	border: none;
	margin-right: 2px;
	height: 25px;
}
/*2013-10-12 end*/
/*header end*/

/*bar*/
.bar{
	height:27px;
	padding:6px 8px;
	line-height:27px;
}
.bar ul.select, .bar ul.select li.selected{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid;
}
.bar ul.select{
	background-position:left -100px;
	padding:1px;
}
.bar ul.select li.selected{
	background-position:left -300px;
	font-weight:bold;
}
.bar ul.select li, .bar ul.lit_but li{
	height:21px;
	line-height:21px;
	text-shadow:#fff;
	float:left;
	display:inline-block;
}
.bar ul.select li:hover{
	font-weight:bold;
}
.bar ul.select li a{
	padding:0 8px;
}
.bar ul.lit_but li a{
	text-indent:-9999px;
	width:0;
	height:0;
	padding-left:16px;
	padding-top:16px;
	display:block;
	margin-left:5px;
	background:#000;
}
.bar h3{
	background-position:left -32px;
	padding-left:22px;
}
/*bar end*/

/*filter*/
.sandglass, .search_1, .tips{
	background-position:right bottom;
	background-repeat:no-repeat;
	font-size:14px;
}
/*filter end*/

/*footer*/
footer{
	height:30px;
	line-height:29px;
}
/*footer end*/

/*table_1*/
.table_1{
	font-size:11px;
}
.table_1 thead td{
	height:29px;
	line-height:28px;
	padding:0 5px;
	font-weight:bold;
	white-space:nowrap;
}
.table_1 thead a, .table_1 thead a i{
	display:block;
}
.table_1 thead a i{
	float:right;
	width:9px;
	height:0;
	padding-top:20px;
	background-position:left 8px;
}
.table_1 thead a i.order{
	background-position:left -23px;
}
.table_1 tbody td{
	line-height:36px;
	padding:0 5px;
}
.table_1 tbody td a{
	margin-left:5px;
	margin-right:5px;
}
.table_1 a.open, .table_1 a.close{
	text-indent:-9999px;
	width:0;
	height:0;
	padding-left:9px;
	padding-top:6px;
	display:block;
	margin-top:15px;
}
.table_1 a.open{
	background-position:left top;
}
.table_1 a.close{
	background-position:left -11px;
}
.table_1 tfoot td{
	box-shadow:0 2px 0 #ececec;
	height:28px;
	line-height:27px;
	background:url(default/images/tf_bg.png) left top repeat-x;
}
/*table_1 end*/

/*login*/
.login{
	background-repeat:no-repeat;
	background-position:center -300px;
}
.login .body{
	padding-top:120px;
	width:980px;
	margin:0 auto;
}
.login .logo{
	height:82px;
	width:335px;
}
.login .form_bg{
	width:433px;
	height:326px;
	padding-left:1px;
	padding-right:7px;
}
.login .form_bg hgroup{
	border-bottom:#eee 1px solid;
	line-height:50px;
	padding-left:50px;
	padding-top:8px;
	margin-bottom:30px;
}
.login h2, .login h3, .login h4{
	font-weight:normal;
	margin-right:8px;
}
.login .form_bg .con{
	padding:0 50px;
	font-family:'Microsoft YaHei';
}
.login label{
	line-height:32px;
	font-size:18px;
	*font-size:16px;
}
.login input[type="text"], .login input[type="password"], .login button, .login input[type="button"]{
	width:265px;
	height:31px;
	line-height:30px;
	margin-bottom:10px;
	font-size:16px;
	font-family:'Microsoft YaHei';
}
.login button, .login input[type="button"]{
	border:none;
	word-spacing:20px;
	line-height:inherit;
}

/*login end*/


/*tabs_2*/
.tabs_2 li, .tabs_2 li a, .tabs_2 li a span{
	background-image:url(default/images/tabs_2.png);
	display:block;
}
.tabs_2{
	border-bottom:#7eb375 2px solid;
	height:22px;
	padding-left:10px;
}
.tabs_2 li{
	display:inline;
	float:left;
	margin-right:2px;
	background-position:left top;
	padding-left:21px;
	background-repeat:no-repeat;
}
.tabs_2 li a{
	background-position:right -48px;
	background-repeat:no-repeat;
	padding-right:12px;
	height:22px;
}
.tabs_2 li a span{
	background-position: left -24px;
	background-repeat:repeat-x;
	height:22px;
	line-height:22px;
}
.tabs_2 li.selected, .tabs_2 li:hover{
	background-position:left -72px;
	height:24px;
}
.tabs_2 li.selected a, .tabs_2 li:hover a{
	background-position:right -120px;
	height:24px;
}
.tabs_2 li.selected a span, .tabs_2 li:hover a span{
	background-position:right -96px;
	height:24px;
}
/* 2013-08-08 profile */
.profile{
	background: #fff;
	min-width: 1002px;
}
.profile .panel_1{
	margin: 20px 30px;
	height: 320px;
	overflow: hidden;
	padding-bottom: 10px;
}
.profile .panel_1 header{
	height: 40px;
	padding: 16px 0 0 0;
	margin: 0;
	background-image: none;
}
.profile .panel_1 header h3{
	font-weight: normal;
	line-height: 20px;
	padding-left: 16px;
}
.role_1, .role_2, .role_3{
	padding-left: 16px;
	height: 27px;
	background-repeat: no-repeat;
}
.role_1{
	background-position:left top;
}
.role_2{
	background-position:left -40px;
}
.role_3{
	background-position:left -80px;
}
.role_1 i, .role_2 i, .role_3 i{
	height: 27px;
	display: block;
	padding: 0 16px;
	text-align: right;
	font-size: 14px;
	line-height: 27px;
}
.notice_date {
	background-repeat: no-repeat;
	background-position: left -120px;
	padding-left: 16px;
	height: 24px;
}
.notice_date span{
	display: block;
	padding: 0 12px 0 0;
	text-align: right;
	line-height: 23px;
}
.profile table{
	line-height: 170%;
}
.p10 h5, .p10 h6{
	font-weight: normal;
}
.profile .f16{
	font-size: 16px;
}
.profile .f14{
	font-size: 14px;
}
ul.qlink li{
	padding: 0 12px;
	height: 38px;
	line-height: 37px;
	margin: 1px 0;
}
ul.qlink li a{
	display: block;
	height: 38px;
	font-size: 14px;
}
/*快捷菜单图片位置*/
ul.qlink li a i{
	background-repeat: no-repeat;
	height: 38px;
	width: 38px;
	float: right;
}
ul.qlink li a i.calendar{
	background-position: -6px -56px;
}
ul.qlink li:hover a i.calendar, ul.qlink li:hover a i.calendar{
	background-position: -6px -106px;
}

ul.qlink li a i.service{
	background-position: -56px -56px;
}
ul.qlink li:hover a i.service, ul.qlink li:hover a i.service{
	background-position: -56px -106px;
}

ul.qlink li a i.count{
	background-position: -106px -56px;
}
ul.qlink li:hover a i.count, ul.qlink li:hover a i.count{
	background-position: -106px -106px;
}

ul.qlink li a i.control{
	background-position: -156px -56px;
}
ul.qlink li:hover a i.control, ul.qlink li:hover a i.control{
	background-position: -156px -106px;
}

ul.qlink li a i.task{
	background-position: -206px -56px;
}
ul.qlink li:hover a i.task, ul.qlink li:hover a i.task{
	background-position: -206px -106px;
}

ul.qlink li a i.repair{
	background-position: -406px -56px;
}
ul.qlink li:hover a i.repair, ul.qlink li:hover a i.repair{
	background-position: -406px -106px;
}

ul.qlink li a i.group{
	background-position: -256px -56px;
}
ul.qlink li:hover a i.group, ul.qlink li:hover a i.group{
	background-position: -256px -106px;
}

ul.qlink li a i.bbcount{
	background-position: -306px -56px;
}
ul.qlink li:hover a i.bbcount, ul.qlink li:hover a i.bbcount{
	background-position: -306px -106px;
}

ul.qlink li a i.mytask{
	background-position: -356px -56px;
}
ul.qlink li:hover a i.mytask, ul.qlink li:hover a i.mytask{
	background-position: -356px -106px;
}
/*快捷菜单图片位置 end*/
ul.alert li{
	padding: 10px;
}
ul.alert dt{
	width: 15%;
	font-size: 11px;
	margin-right: 10px;
	text-align: center;
}
ul.alert dt .flight, ul.alert dt .service{
	height: 48px;
}
ul.alert dt .flight{
	background-position: center -100px;
}
ul.alert dt .service{
	background-position: center top;
}
/*ul.alert dt img{
	width: 100%;
	height: 45px;
}*/
ul.alert dd{
	width: 82%;
}
ul.alert h4{
	width: 76%;
	overflow: hidden;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
}
ul.alert .detail{
	white-space: pre-wrap;       
	white-space: -moz-pre-wrap;  
	white-space: -pre-wrap;      
	white-space: -o-pre-wrap;    
	word-wrap: break-word; 
	width: 76%;
	line-height: 150%;
}
ul.alert h5, ul.alert h6{
	width: 24%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	font-weight: normal;
	text-align: right;
}
ul.contact li{
	float: left;
	margin: 0 10px 10px 0;
	max-width: 250px;
	min-width: 170px;
	padding: 5px;
}
ul.contact dt{
	width: 56px;
	height: 56px;
	padding:3px;
	margin-right: 8px;
	position: relative;
}
ul.contact dt img{
	width: 54px;
	height: 54px;
}
ul.contact dd{
	min-width: 106px;
	max-width: 177px;
}
ul.contact h4, ul.contact h5, ul.contact h6{
	font-weight: normal;
	line-height: 150%;
}
ul.contact dt a{
	width: 15px;
	height: 15px;
	text-indent: -999px;
	display: block;
	background-repeat: no-repeat;
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 100;
}
ul.contact dt a.on{
	background-position: left -100px;
}
ul.contact dt a.off{
	background-position: left top;
}
ul.mypro li{
	float: left;
	width: 50px;
	margin-right: 6px;
	height: 36px;
	background-repeat: no-repeat;
}
/*我的信息图片位置*/
ul.mypro li.mail{
	background-position: left -7px;
}
ul.mypro li.call{
	background-position: -50px -7px;
}
ul.mypro li.txt{
	background-position: -100px -7px;
}
ul.mypro li.people{
	background-position: -150px -7px;
}
ul.mypro li.alert{
	background-position: -200px -7px;
}
ul.mypro li.rss{
	background-position: -250px -7px;
}
ul.mypro li a{
	display: block;
	width: 50px;
	height: 36px;
}
/*我的信息图片位置 end*/

img.img_gray{
	filter: gray;
}
