<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd"
    default-autowire="byName">   	

    <!-- asset -->
    <import resource="action/applicationContext-action-asset.xml" />
    
    <import resource="action/applicationContext-action-report.xml" />
    
    <import resource="action/applicationContext-action-jeecms.xml" />
    
    <import resource="action/applicationContext-action-task.xml" />        

    <import resource="action/applicationContext-action-api.xml"/>

</beans>